.service-card{
    /* border: 2px solid gray; */
    
    background-color: #f4f4f4;
}

.service-icon{
    color: #FFC107;
    background-color: black;
    transition: background-color 0.3s, color 0.1s;
}

.service-card:hover .service-icon{
    color: white;
    background-color: #FFC107;
}

.service-card:hover{
    background-color: white;
    outline: 2px solid #FFC107;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
}